.all-page-galerie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15rem;
}
.img-selected-fish {
  width: 50vw;
  display: flex;
  margin: auto;
  margin-top: 4vw;
  margin-bottom: 1vw;
  border: solid;
  border-color: rgb(8, 8, 8);
  border-width: 9px;
}
.name-methode {
  text-align: center;
  color: blue;
}
.button-carousel-galerie {
  margin: 1vw;
  border: none;
  cursor: pointer;
}
.img-carousel-galerie {
  width: 10vw;
  border: solid;
}
.all-img-carousel-galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
@media (max-width: 900px) {
  .img-selected-fish {
    width: 80vw;
  }
  .img-carousel-galerie {
    width: 30vw;
  }
}
