.all-descri {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30rem;
  padding: 2rem;
}
.description {
  width: 70%;
  color: aliceblue;
  font-size: 1.5rem;
}
.question {
  color: blue;
  margin-bottom: 2rem;
  opacity: 0;
  animation: apparitionQuestion 1s ease-in-out forwards;
  animation-delay: 1s; /* Délai de 1 seconde avant le début de l'animation */
}
.text {
  opacity: 0;
  animation: apparitionQuestion 0.5s ease-in-out forwards;
  animation-delay: 2.5s; /* Délai de 1 seconde avant le début de l'animation */
}

@keyframes apparitionQuestion {
  to {
    opacity: 1;
  }
}

@keyframes apparitionQuestion {
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  .all-descri {
    margin-top: 18rem;
  }
  .description {
    width: 90%;
    font-size: 1.1rem;
  }
  .question {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1500px) and (max-width: 2200px) {
  .all-descri {
    margin-top: 60rem;
  }
  .question {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
