* {
  margin: 0;
  padding: 0;
}
.navbar-burger {
  display: none;
}
.navbar {
  background-color: rgb(24, 10, 87);
  margin: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.list-navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
li {
  margin: 0 2rem 0 2rem;
  color: aliceblue;
}
.phone {
  color: aliceblue;
  margin: 0;
}
.list-contact {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.number-phone {
  margin-left: 0.5rem;
}
@media (max-width: 800px) {
  .list-navbar {
    display: none;
  }
  .navbar-burger {
    display: flex;
  }
}
