.container-wave {
  display: flex;
  justify-content: center;
}
.wave {
  display: none;
  position: absolute;
  margin-top: 18rem;
  width: 100%;
  height: 50%;
}
.boat {
  display: none;
  position: absolute;
  width: 18%;
  margin-top: 26rem;
  animation: boatMovement 20s linear infinite;
}

@keyframes boatMovement {
  0% {
    transform: translateX(-200%) translateY(20px);
    opacity: 0;
  }
  25% {
    transform: translateX(-100%) translateY(-10px);
    opacity: 1;
  }
  50% {
    transform: translateX(0%) translateY(-90px);
    opacity: 1;
  }
  75% {
    transform: translateX(100%) translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(170%) translateY(20px);
    opacity: 0;
  }
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  .wave {
    margin-top: 7rem;
    height: 20%;
  }
  .boat {
    margin-top: 14rem;
    width: 28%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1500px) {
  .wave {
    margin-top: 17rem;
    height: 40%;
  }
  .boat {
    margin-top: 27rem;
  }
}
@media screen and (min-width: 1500px) and (max-width: 2200px) {
  .wave {
    margin-top: 33rem;
    height: 40%;
  }
  .boat {
    margin-top: 43rem;
  }
}
