.all-page-comment {
  background-color: #091486;
}
.container-comment {
  background-color: hsl(0, 0%, 3%);
  color: aliceblue;
  border-radius: 20px;
  width: 50%;
  height: 30rem;
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-comment {
  margin: 4rem 0 4rem 0;
}
input {
  padding: 1rem;
  color: aliceblue;
  outline: none;
  background-color: #383a40;
  height: 1.2rem;
  width: 18rem;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
}
.form-comment {
  display: flex;
  flex-direction: column;
}
.mail,
.name,
.comment,
.notation {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2rem 0;
}
.comment {
  height: 8rem;
}
@media (max-width: 800px) {
  .container-comment {
    width: 90%;
    margin-top: 2rem;
  }
}
