* {
  margin: 0;
  padding: 0;
}
.all-page {
  background-color: rgb(22, 77, 144);
  background-size: cover;
  background-position: center;
  height: 100rem;
}
.container-carous-wave {
  position: relative;
}
