* {
  margin: 0;
  padding: 0;
}
.all-page {
  background-color: rgb(24, 10, 87);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
}
.container-carous-wave {
  position: relative;
}
