.title-reserve {
  font-size: 2.3rem;
  color: blue;
  margin: 2rem;
  text-align: center;
}
.form-reserve {
  display: flex;
  flex-direction: column;
  width: 32rem;
  margin: auto;
  font-size: 2rem;
}
.mail-reserve {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-mail-reserve,
.input-pass-reserve {
  width: 30rem;
}
.sub-inscr {
  background-color: #0bea0f;
  outline: none;
  border: none;
  color: aliceblue;
  margin-top: 1rem;
  width: 7rem;
  height: 1.5rem;
  border-radius: 10px;
}
