.all-page-admin-fish {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
  border: solid;
  width: 60%;
  height: 50rem;
  background-color: black;
  color: aliceblue;
}
.input-admin {
  padding: 1rem;
  margin: 0.5rem 0 3rem 0;
  color: aliceblue;
  outline: none;
  background-color: #383a40;
  height: 1.2rem;
  width: 18rem;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
}
